body, html {
  padding: 0;
  margin: 0; }
  body .nav-bar, html .nav-bar {
    width: 100%;
    height: 50px;
    border-top: var(--darmaneh-blue) solid 5px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(43, 43, 43, 0.16);
    border-radius: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; }
  body .nav-bar-logo, html .nav-bar-logo {
    width: 100px;
    height: 28px;
    background-image: url("../images/logo_darmaneh_1.png");
    background-repeat: no-repeat; }
  body .nav-bar-section, html .nav-bar-section {
    margin: auto 10px;
    cursor: pointer;
    color: gray; }
  body .nav-bar-section:hover, html .nav-bar-section:hover {
    color: var(--darmaneh-blue); }
  body .search-bar, html .search-bar {
    width: 200px;
    height: 30px;
    border: var(--gray) solid 1px;
    margin: auto auto auto 10px;
    background-image: url("../images/ic_search_disable_1.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 30px;
    background-color: var(--light-gray);
    border-radius: 2px; }
  body .search-bar:focus, html .search-bar:focus {
    border: var(--darmaneh-blue) solid 1px;
    color: var(--darmaneh-blue);
    background-image: url("../images/ic_search_enable_1.png"); }
  body .sign-in, html .sign-in {
    min-width: 100px;
    border-radius: 30px;
    background-color: var(--darmaneh-blue);
    height: 30px;
    margin: auto 10px auto 0;
    text-align: right;
    padding-right: 20px;
    color: white;
    background-image: url("../images/ic_user_1.png");
    background-repeat: no-repeat;
    background-position: 3% 50%;
    cursor: pointer;
    line-height: 28px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease; }
  body .sign-in:active, html .sign-in:active {
    background-color: var(--blue-hover);
    box-shadow: 0 8px 15px rgba(43, 43, 43, 0.24); }
  body .content, html .content {
    width: 100%;
    height: 100%; }
  body .page-items, html .page-items {
    height: 100%;
    position: relative; }
  body .condition-detail, html .condition-detail {
    height: 100%; }
  body #virtual-visit, html #virtual-visit {
    margin-right: 25px; }
  body .condition-detail-title, html .condition-detail-title {
    text-align: right;
    font-size: 30px;
    color: black;
    height: 44px;
    margin-top: 90px;
    padding-right: 20px; }
  body .add-bookmark, html .add-bookmark {
    background-color: white;
    border: var(--darmaneh-blue) solid 2px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    overflow: hidden;
    padding-top: 5px;
    color: var(--darmaneh-blue);
    text-align: center;
    height: 36px;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
    margin-top: 90px;
    line-height: 24px;
    background-image: url("../fonts/ic_bookmark_blue_24px.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5% 50%; }
  body .add-bookmark:active, html .add-bookmark:active {
    background-color: var(--blue-hover);
    box-shadow: 0 8px 15px rgba(43, 43, 43, 0.24); }
  body .add-bookmark[disable=true], html .add-bookmark[disable=true] {
    background-color: var(--gray);
    color: var(--darmaneh-black);
    box-shadow: none;
    opacity: 0.5; }
  body .add-bookmark[disable=true], html .add-bookmark[disable=true] {
    pointer-events: none;
    background-color: var(--gray);
    color: var(--darmaneh-black);
    box-shadow: none;
    opacity: 0.5; }
  body .absolute-left, html .absolute-left {
    position: absolute;
    left: 0; }
  body .seperator-line, html .seperator-line {
    height: 2px;
    background-color: var(--gray);
    margin: 10px auto; }
  body .video-title, html .video-title {
    margin-top: 10px;
    padding-right: 20px; }
  body .condition-video, html .condition-video {
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-right: 20px; }
  body .title, html .title {
    padding-top: 20px;
    padding-right: 20px; }
  body .details, html .details {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: justify; }
  body .items, html .items {
    margin-top: 110px;
    padding-right: 10px; }
  body .page-items-title, html .page-items-title {
    padding: 10px;
    cursor: pointer;
    color: var(--gray);
    font-weight: var(--medium); }
  body .page-items-title:hover, html .page-items-title:hover {
    font-weight: bold; }
  body .share-page, html .share-page {
    width: 100%;
    border: lightgrey solid 2px;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(43, 43, 43, 0.16);
    background-color: white; }
  body .white-space, html .white-space {
    width: 100%;
    height: 100px;
    background-color: white; }
  body .share-title, html .share-title {
    text-align: center;
    padding-top: 10px; }
  body .link-address, html .link-address {
    width: 100%;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 0 2px 2px 0;
    border: none;
    background-color: var(--light-gray);
    color: gray; }
  body .share-button, html .share-button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    background-color: var(--darmaneh-blue);
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
    background-image: url("../fonts/ic_share_24px.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 45% 50%;
    margin-left: auto;
    margin-right: auto; }
  body .share-button-margin, html .share-button-margin {
    margin: 20px 10px 10px 10px; }
  body .share-buttons, html .share-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 12px; }
  body .telegram-button, html .telegram-button {
    background-image: url("../fonts/ic_share_telegram_20px.svg"); }
  body .telegram-button:hover, html .telegram-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  body .tweeter-button, html .tweeter-button {
    background-image: url("../fonts/ic_share_twitter_20px.svg"); }
  body .tweeter-button:hover, html .tweeter-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  body .google-plus-button, html .google-plus-button {
    background-image: url("../fonts/ic_share_googleplus_20px.svg"); }
  body .google-plus-button:hover, html .google-plus-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  body .facebook-button, html .facebook-button {
    background-image: url("../fonts/ic_share_facebook_20px.svg"); }
  body .facebook-button:hover, html .facebook-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  body .in-button, html .in-button {
    background-image: url("../fonts/ic_share_linkedin_20px.svg"); }
  body .in-button:hover, html .in-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  body .mail-button, html .mail-button {
    background-image: url("../fonts/ic_share_email_20px.svg"); }
  body .mail-button:hover, html .mail-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); }
  body .share-button-transition, html .share-button-transition {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Safari */
    transform: rotate(360deg);
    /* Standard syntax */ }
  body .share_buttons-container, html .share_buttons-container {
    display: none; }
  body .copy-share-link, html .copy-share-link {
    width: 100%;
    margin-left: 10px;
    height: 30px;
    line-height: 15px;
    text-align: center;
    border-radius: 2px 0 0 2px;
    box-shadow: none;
    border: none;
    font-size: 12px;
    padding-top: 7px;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: bold; }
  body .margin-top20, html .margin-top20 {
    margin-top: 20px; }
  body .share-container, html .share-container {
    width: 292.5px;
    position: fixed;
    z-index: 2;
    top: 60px;
    overflow: hidden;
    right: calc(50% - 600px); }
  body .share-page, html .share-page {
    margin-bottom: 280px; }
  @media (max-width: 1300px) {
    body .page-items, body .share-container, html .page-items, html .share-container {
      display: none; }
    body .condition-detail, html .condition-detail {
      width: 100%; }
    body .condition-video-container, html .condition-video-container {
      margin-right: auto;
      margin-left: auto; }
    body .title-center, html .title-center {
      text-align: center;
      margin-top: 30px;
      padding-top: 0; }
    body .share-button-mobile, html .share-button-mobile {
      position: fixed;
      bottom: 50px;
      right: 50px;
      width: 56px;
      height: 56px;
      background-color: var(--darmaneh-blue);
      border-radius: 50%;
      background-image: url("../fonts/ic_share_24px.svg");
      background-size: 25px;
      background-position: 45% 50%;
      background-repeat: no-repeat;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      border: none;
      outline: none; }
    body .share-button-mobile-transition, html .share-button-mobile-transition {
      -ms-transform: rotate(360deg);
      /* IE 9 */
      -webkit-transform: rotate(360deg);
      /* Safari */
      transform: rotate(360deg);
      /* Standard syntax */ }
    body .share-buttons-mobile-container, html .share-buttons-mobile-container {
      display: none;
      position: fixed;
      bottom: 100px;
      right: 50px;
      width: 56px;
      height: 0;
      overflow: hidden;
      box-sizing: border-box;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease; }
    body .expand-share-buttons-container-height, html .expand-share-buttons-container-height {
      height: 350px; }
    body .share-buttons-mobile, html .share-buttons-mobile {
      display: none;
      margin: 10px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; } }
  @media (max-width: 960px) {
    body .search-bar, html .search-bar {
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      width: calc(20% - 15px); } }
  @media (max-width: 905px) {
    body .search-bar, html .search-bar {
      width: calc(12% - 10px);
      font-size: 10px;
      padding-right: 25px; } }
  @media (max-width: 830px) {
    body .search-bar, html .search-bar {
      display: none; }
    body .sign-in, html .sign-in {
      position: absolute;
      left: 0;
      margin-top: 8px; } }
  @media (max-width: 767px) {
    body .sign-in, html .sign-in {
      display: none; }
    body .search-bar, html .search-bar {
      display: block;
      width: calc(85% - 100px);
      font-size: 15px;
      padding-right: 50px;
      margin: auto 10px auto 10px; }
    body .nav-bar-section, html .nav-bar-section {
      display: none; }
    body .condition-detail-title, html .condition-detail-title {
      text-align: center;
      padding-right: 0; }
    body .add-bookmark, html .add-bookmark {
      margin: 10px auto; }
    body .seperator-line, html .seperator-line {
      margin: 0; }
    body .video-title, body .title, html .video-title, html .title {
      text-align: center; }
    body .condition-video, html .condition-video {
      margin-right: auto;
      margin-left: auto; }
    body .absolute-left, html .absolute-left {
      position: relative;
      left: auto;
      right: auto; }
    body .hamburger-navbar, html .hamburger-navbar {
      margin-top: auto;
      margin-bottom: auto;
      width: 50px;
      height: 45px;
      background-image: url("../fonts/ic_nav_menu_black_1.svg");
      background-size: 20px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      cursor: pointer;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
    body .hamburger-navbar-click, html .hamburger-navbar-click {
      -ms-transform: rotate(180deg);
      /* IE 9 */
      -webkit-transform: rotate(180deg);
      /* Safari */
      transform: rotate(180deg);
      /* Standard syntax */ }
    body .mobile-sign-up, html .mobile-sign-up {
      margin: auto 10px auto 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--darmaneh-blue);
      background-image: url("../images/ic_user_1.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      cursor: pointer;
      box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease; }
    body .mobile-sign-up:active, html .mobile-sign-up:active {
      background-color: var(--blue-hover);
      box-shadow: 0 8px 15px rgba(43, 43, 43, 0.24); }
    body .nav-bar-logo, html .nav-bar-logo {
      display: none; }
    body .mobile-logo, html .mobile-logo {
      width: 50px;
      height: 45px;
      margin: auto 10px auto 0 !important;
      background-image: url("../fonts/mobile-logo_1.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 30px;
      left: 0 !important;
      position: absolute; } }
  @media (max-width: 420px) {
    body .search-bar, html .search-bar {
      width: calc(51% - 20px);
      padding-right: 30px; }
    body .add-bookmark, html .add-bookmark {
      background-size: 25px;
      padding-left: 10px; } }
  @media (max-width: 322px) {
    body .search-bar, html .search-bar {
      display: none; } }

/*# sourceMappingURL=condition_detail.css.map */
