body, html {
  padding: 0;
  margin: 0; }
  body .blue-section, html .blue-section {
    width: 100%;
    height: 65vh;
    background-color: var(--darmaneh-blue);
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/contactus_bg.png");
    background-repeat: no-repeat;
    background-size: cover; }
  body .main-container, html .main-container {
    box-shadow: 0 0 35px 0 rgba(43, 43, 43, 0.35);
    border-radius: 5px;
    margin-bottom: 100px; }
  body .contanct-us-title, html .contanct-us-title {
    padding-bottom: 20px;
    color: white;
    text-align: right;
    direction: rtl; }
  body .message-text, html .message-text {
    direction: rtl;
    font-size: 15px;
    padding: 5px;
    display: block;
    width: 100%;
    height: 50px;
    border: var(--gray) solid 1px;
    color: var(--darmaneh-black);
    background-color: transparent; }
  body textarea, html textarea {
    resize: none; }
  body .message-text:focus, html .message-text:focus {
    border: var(--darmaneh-blue) solid 2px; }
  body .paddingRight5, html .paddingRight5 {
    padding-right: 5px; }
  body .contact-us-description, html .contact-us-description {
    padding-bottom: 50px;
    color: white;
    text-align: right;
    direction: rtl;
    font-size: 17px; }
  body #contac-us-content-container, html #contac-us-content-container {
    margin-top: 100px; }
  body .contact-us-content, html .contact-us-content {
    width: 100%;
    background-color: white;
    border-radius: 0 5px 5px 0; }
  body .contact-us-map, html .contact-us-map {
    background-color: var(--darmaneh-black);
    border-radius: 5px 0 0 5px;
    background-image: url("../fonts/logo_contactpage.svg");
    background-repeat: no-repeat;
    background-size: 170px;
    background-position: 0 100%; }
  body .content-title, html .content-title {
    color: var(--darmaneh-blue);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 20px; }
  body .info-title, html .info-title {
    padding-right: 30px; }
  body #info-input-mail, html #info-input-mail {
    margin-left: 30px;
    direction: ltr; }
  body .info-bar, html .info-bar {
    width: 100%;
    margin-right: 30px; }
  body .info-label, html .info-label {
    padding-right: 30px; }
  body .input-total-right, html .input-total-right {
    margin-right: 30px;
    margin-left: 15px; }
  body .input-total-left, html .input-total-left {
    margin-left: 30px;
    margin-right: 15px; }
  body .input-total, html .input-total {
    margin-left: 30px;
    margin-right: 30px; }
  body .location-map-container, html .location-map-container {
    margin: 30px auto auto auto; }
  body .location-map, html .location-map {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-color: inherit; }
  body .location-info-container, html .location-info-container {
    margin: 20px 30px auto auto; }
  body .location-info, html .location-info {
    width: 100%;
    color: white;
    padding-bottom: 20px;
    font-size: 17px;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    padding-right: 30px; }
  body .location-share-buttons-container, html .location-share-buttons-container {
    margin: 44px 25px auto auto; }
  body .location-share-buttons, html .location-share-buttons {
    width: 24px;
    height: 24px;
    outline: none;
    background-color: inherit;
    border: none;
    margin: 5px 0 15px 15px;
    background-repeat: no-repeat;
    background-size: 20px; }
  body #telegram, html #telegram {
    background-image: url("../fonts/ic_social_telegram.svg"); }
  body #instagram, html #instagram {
    background-image: url("../fonts/ic_social_instagram.svg"); }
  body #aparat, html #aparat {
    background-image: url("../fonts/ic_social_aparat.svg"); }
  body #location-address, html #location-address {
    background-image: url("../images/ic_address.png"); }
  body #location-phone, html #location-phone {
    background-image: url("../images/ic_phone.png"); }
  body #location-mail, html #location-mail {
    background-image: url("../images/ic_email.png"); }
  body .submit-contact-message, html .submit-contact-message {
    width: 100%;
    margin: 30px auto 30px auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  body .left, html .left {
    margin: auto auto auto 30px; }
  @media (max-width: 1050px) {
    body .location-map-container, html .location-map-container {
      margin: 30px 30px auto auto; }
    body .location-info-container, html .location-info-container {
      margin-top: 30px; }
    body .center, html .center {
      text-align: center; }
    body .contact-us-content, html .contact-us-content {
      border-radius: 5px 5px 0 0; }
    body .location-info, html .location-info {
      background-position: 100% 20%; }
    body .contact-us-map, html .contact-us-map {
      border-radius: 0 0 5px 5px; }
    body .main-container, html .main-container {
      margin-bottom: 30px; }
    body .content-title, html .content-title {
      padding-right: 0; }
    body .blue-section, html .blue-section {
      height: 80vh; } }
  @media (max-width: 768px) {
    body .center-elem, html .center-elem {
      margin-left: auto;
      margin-right: auto; }
    body .blue-section, html .blue-section {
      height: 100vh; }
    body .input-total-right, html .input-total-right {
      margin-left: 30px; }
    body .input-total-left, html .input-total-left {
      margin-right: 30px; } }

/*# sourceMappingURL=contact_us.css.map */
