/*------------------------------------*/

/*footer*/

#footer {
    background-color: var(--blue-hover);
    padding: 35px 0;
}

#footer .title2 {
    color: var(--darmaneh-white) !important;
    margin-bottom: 10px;
}

#footer .hf-text {
    color: var(--darmaneh-white) !important;
    margin-bottom: 20px;
}

.footer-small-icon {
    height: 15px;
    width: 15px;
    margin: 5px;
}

.footer-markets {
    cursor: pointer;
    width: 155px;
    height: 44px;
    margin: 5px;

}

#footer-mid li {
    cursor: pointer;
}

/*---------------*/

/*folow section*/
#follow-section .hf-text {
    margin-top: 20px;
}

.follow-icon {
    margin: 15px 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition : -webkit-filter 500ms ease;
    transition: filter 0.5s ease;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#insta {
    background-image: url("../images/ic_instagram_enable.png");
}

#insta:hover {
    -webkit-filter: unset; /* Safari 6.0 - 9.0 */
    filter: unset;
}

#telegram {
    background-image: url("../images/ic_telegram_enable.png");
}

#telegram:hover {
    -webkit-filter: unset; /* Safari 6.0 - 9.0 */
    filter: unset;
}

#aparat {
    background-image: url("../images/ic_aparat_enable.png");
}

#aparat:hover {
    -webkit-filter: unset; /* Safari 6.0 - 9.0 */
    filter: unset;
}
