/*new version for header starts here */
body .nav-bar, html .nav-bar {
    width: 100%;
    height: 50px;
    border-top: var(--darmaneh-blue) solid 5px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(43, 43, 43, 0.16);
    border-radius: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

body .nav-bar-logo, html .nav-bar-logo {
    width: 100px;
    height: 28px;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
}

body .nav-bar-section, html .nav-bar-section {
    margin: auto 10px;
    cursor: pointer;
    color: gray;
}

body .nav-bar-section:hover, html .nav-bar-section:hover {
    color: var(--darmaneh-blue);
}

body .search-bar, html .search-bar {
    width: 200px;
    height: 30px;
    border: var(--gray) solid 1px;
    margin: auto auto auto 10px;
    background-image: url("../images/ic_search_disable.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 30px;
    background-color: var(--light-gray);
    border-radius: 2px;
}

body .search-bar:focus, html .search-bar:focus {
    border: var(--darmaneh-blue) solid 1px;
    color: var(--darmaneh-blue);
    background-image: url("../images/ic_search_enable.png");
}

body .sign-in, html .sign-in {
    min-width: 100px;
    border-radius: 30px;
    background-color: var(--darmaneh-blue);
    height: 30px;
    margin: auto 10px auto 0;
    text-align: right;
    padding-right: 20px;
    padding-left: 35px;
    color: white;
    background-image: url("../images/ic_user.png");
    background-repeat: no-repeat;
    background-position: 3% 50%;
    cursor: pointer;
    line-height: 28px;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

body .sign-in:active, html .sign-in:active {
    background-color: var(--blue-hover);
    box-shadow: 0 8px 15px rgba(43, 43, 43, 0.24);
}

body #virtual-visit, html #virtual-visit {
    margin-right: 25px;
}

@media (max-width: 960px) {
    body .search-bar, html .search-bar {
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
        width: calc(20% - 15px);
    }
}

@media (max-width: 905px) {
    body .search-bar, html .search-bar {
        width: calc(12% - 10px);
        font-size: 10px;
        padding-right: 25px;
    }
}

@media (max-width: 830px) {
    body .search-bar, html .search-bar {
        display: none;
    }

    body .sign-in, html .sign-in {
        position: absolute;
        left: 0;
        margin-top: 8px;
    }
}

@media (max-width: 767px) {
    body .sign-in, html .sign-in {
        display: none;
    }

    body .search-bar, html .search-bar {
        display: block;
        width: calc(85% - 100px);
        font-size: 15px;
        padding-right: 50px;
        margin: auto 10px auto 10px;
    }

    body .nav-bar-section, html .nav-bar-section {
        display: none;
    }

    body .absolute-left, html .absolute-left {
        position: relative;
        left: auto;
        right: auto;
    }

    body .hamburger-navbar, html .hamburger-navbar {
        margin-top: auto;
        margin-bottom: auto;
        width: 50px;
        height: 45px;
        background-image: url("../fonts/ic_nav_menu_black.svg");
        background-size: 20px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    body .hamburger-navbar-click, html .hamburger-navbar-click {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Safari */
        transform: rotate(180deg);
        /* Standard syntax */
    }

    body .mobile-sign-up, html .mobile-sign-up {
        margin: auto 10px auto 10px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--darmaneh-blue);
        background-image: url("../images/ic_user.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    body .mobile-sign-up:active, html .mobile-sign-up:active {
        background-color: var(--blue-hover);
        box-shadow: 0 8px 15px rgba(43, 43, 43, 0.24);
    }

    body .nav-bar-logo, html .nav-bar-logo {
        display: none;
    }

    body .mobile-logo, html .mobile-logo {
        width: 50px;
        height: 45px;
        margin: auto 10px auto 0 !important;
        background-image: url("../fonts/mobile-logo.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 30px;
        left: 0 !important;
        position: absolute;
    }
}

@media (max-width: 420px) {
    body .search-bar, html .search-bar {
        width: calc(51% - 20px);
        padding-right: 30px;
    }

}

@media (max-width: 322px) {
    body .search-bar, html .search-bar {
        display: none;
    }
}

/*new version for header ended here*/

/*old version for header starts here */

body .navBarMobileModal, html .navBarMobileModal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black w/ opacity */
}

body .mobileNavBar, html .mobileNavBar {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

}

body .navBarItemsMob, html .navBarItemsMob {
    height: 60px;
    background-color: var(--darmaneh-blue);
    margin-top: 5px;
    color: var(--darmaneh-white);
    border-radius: 2px;
    cursor: pointer;
}

body .close, html .close {
    font-size: 60px;
    color: white;
    float: right;
    background-color: transparent;
    margin-right: 50px;
    cursor: pointer;
}

body .close:hover, html .close:hover {
    color: var(--red);
}

body .navBar, html .navBar {
    box-shadow: 0 3px 6px rgba(43, 43, 43, 0.16);
    border-radius: 0 !important;
    width: 100%;
    height: 50px;
    background-color: var(--darmaneh-white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-top: var(--darmaneh-blue) solid 5px;

}

body .childFLogo, html .childFLogo {
    width: 100px;
    height: 30px;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    margin-top: 7px;
    background-position: right;
    /*position: absolute;*/
}

body .signInButton, html .signInButton {
    padding: 0 20px 0 35px;
    height: 30px;
    background-color: var(--darmaneh-blue);
    margin: 7px auto auto 0;
    color: white;
    border-radius: 40px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("../images/ic_user.png");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    /*position: absolute;*/
    /*left: 0;*/

}

body .searchBar, html .searchBar {
    height: 30px;
    background-color: var(--light-gray);
    border: var(--gray) solid 1px;
    text-align: right;
    padding-right: 30px;
    border-radius: 2px;
    background-image: url("../images/ic_search_disable.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 160px;
    margin-top: 7px;
}

body .navBarItems, html .navBarItems {
    height: 35px;
    width: auto;
    margin: 4px 10px auto 10px;
    float: right;
    color: gray;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

body .navBarItems:hover, html .navBarItems:hover {
    color: var(--darmaneh-blue);
}

body .searchBar:focus, html .searchBar:focus {
    border: var(--darmaneh-blue) solid 1px;
    color: var(--darmaneh-blue);
    /*font-weight: 600;*/
    background-image: url("../images/ic_search_enable.png");
}

body .signInButton:hover, html .signInButton:hover {
    background-color: var(--blue-hover);
}

body #virtualVisitMob, html #virtualVisitMob {
    margin-top: 55px;
}

@media (max-width: 991px) {
    body .searchBar, html .searchBar {
        display: none;
    }

    body #navBarItems, html #navBarItems {
        width: 650px;
    }
}

@media (max-width: 768px) {

    body .navBarItemsHidden, html .navBarItemsHidden {
        display: none;
    }

    body .searchBar, html .searchBar {
        display: none;
    }

    body .childFLogo, html .childFLogo {
        margin: 7px auto auto auto;

    }

    body .navBarMobileButton, html .navBarMobileButton {
        width: 45px;
        height: 45px;
        background-color: transparent;
        background-image: url("../images/menu.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        margin: auto 0 auto auto;
    }

}

@media (max-width: 319px) {
    body .signInButton, html .signInButton {
        display: none;
    }
}

/*-------------------*/

/*sign modal*/

.modal-open {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 !important;
}

#sign-modal .container-total {
    /*really!*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sign-total {
    box-shadow: 0 3px 7px rgba(43, 43, 43, 0.3);
}

.sign-header {
    height: 50px;
    background-color: var(--light-gray);
    box-shadow: 0 1px 0 var(--gray);
}

.sign-content {
    position: relative;
    background-color: var(--darmaneh-white);
    padding: 0 25px 25px 25px;
}

.sign-content .progress-con {
    width: calc(100% + 50px);
    position: relative;
    right: -25px;
    height: 3px;
}

.sign-header .subtitle {
    margin: 13px 25px;
}

.prefix-con {
    width: 58px;
}

.show-con {
    width: 55px;
}

.num-con {
    width: calc(100% - 133px);
    margin-left: 20px;
}

.back-btn {
    display: none;
    position: absolute;
    left: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-image: url("../images/ic_back_sign.png");
    background-repeat: no-repeat;
    background-position: center center;
}

#log-in .sign-content h2 {
    margin: 40px 0 30px 0;
}

.sign-content .input-g-total {
    margin-bottom: 10px;
}

.sign-content .blue-btn {
    margin: 10px auto 10px auto;
}

#forgot-pass, #sign-in-btn {
    color: var(--darmaneh-blue);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
}

.sign-step {
    width: 54px;
    margin: 13px auto;
}

.oncircle {
    width: 14px;
    height: 14px;
    background-color: var(--darmaneh-blue);
    border: solid 1px var(--blue-hover);
    border-radius: 50%;
    margin: 0 auto;
}

.offcircle {
    width: 10px;
    height: 10px;
    background-color: var(--light-gray);
    border: solid 1px var(--gray);
    border-radius: 50%;
    margin: 2px auto;
}

.sign-content h2 {
    margin: 0 0 30px 0;
}

#sign-info2 .sign-content h2 {
    margin: 0 0 10px 0;
}

.sign-avatar {
    height: 90px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 85px;
}

.sign-male {
    cursor: pointer;
    background-image: url("../images/propic_male_enable.png");
}

.sign-male-d {
    cursor: pointer;
    background-image: url("../images/propic_male_disable.png");
}

.sign-female {
    background-image: url("../images/propic_female_enable.png");
    cursor: pointer;
}

.sign-female-d {
    background-image: url("../images/propic_female_disable.png");
    cursor: pointer;
}

#final-avatar {
    cursor: auto !important;
}

.sign-final-btn {
    cursor: pointer;
    height: 40px;
    background-color: var(--light-gray);
    padding: 8px 0;
    border: solid 1px var(--gray);
}

#sign-final .sign-content {
    padding-top: 20px;
    box-shadow: none;
}

#prof-btn {
    border-left: solid 1px var(--gray);
}

#sign-final .sign-content .row-v {
    height: 46px;
    padding-right: 10px;
}

/*-------------------------*/

/*disease search ui*/
.ui-menu {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
    max-height: 200px;
}