body, html {
    background-color: var(--darmaneh-white);
}

@media (min-width: 1050px) {
    body, html {
        background-color: var(--light-gray);
    }
}

#health-total {
    padding-top: 50px;
    min-height: calc(100vh - 10px);
}

#options-btn {
    z-index: 20;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--darmaneh-blue);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../fonts/ic_filter_24px.svg");
    background-size: 35px auto;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}

.option-rotate {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg); /* Standard syntax */
    background-image: url("../fonts/ic_close_white_24px.svg") !important;
}

#options {
    display: none;
    z-index: 20;
    position: fixed;
    background-color: var(--darmaneh-white);
    border: 1px solid rgba(43, 43, 43, 0.2);
    border-radius: 2px;
    padding: 0 20px 20px 0;
    width: 70%;
    right: 15%;
    bottom: 90px;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

@media (min-width: 490px) {
    #options {
        display: none;
        width: 50%;
        right: 25%;
    }
}

@media (min-width: 768px) {
    #options {
        display: none;
        width: 256px;
        right: 20px;
    }
}

@media (min-width: 1050px) {
    #options {
        display: block !important;
        bottom: unset;
        top: 120px;
        right: calc(50vw - 517px);
    }
}

#options .subtitle {
    margin: 20px 0 10px 0;
}

#main-options .input-box {
    --ml: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

#near-me {
    border-radius: 18px;
    margin-top: 60px;
    --ml: 40px;
    --mr: 20px;
}

#health-main {
    background-color: var(--darmaneh-white);
    margin-bottom: 50px;
}

@media (min-width: 1050px) {
    #health-main {
        --mr: 30px;
        border: 1px solid rgba(43, 43, 43, 0.2);
        border-radius: 2px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}

#health-header {
    /*border-bottom: 1px solid rgba(43, 43, 43, 0.2);*/
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
    /*margin-bottom: 15px;*/
    /*padding: 20px 0 10px 0;*/
    height: 73px;
}

.health-tab {
    cursor: pointer;
    border-bottom: 2px solid;
    background-position: center 10px;
    background-size: 24px auto;
    background-repeat: no-repeat;
}

.health-tab .body-text {
    margin-top: 40px;
    margin-bottom: 10px;
}

#hospital-tab {
    border-color: var(--green);
    background-image: url("../fonts/ic_hc_hospitals_24px.svg");
}

#pharmacy-tab {
    border-color: var(--purple);
    background-image: url("../fonts/ic_hc_pharmecies_24px.svg");
}

#office-tab {
    border-color: var(--orange);
    background-image: url("../fonts/ic_hc_offices_24px.svg");

}

.health-tab[active=false] {
    border: none;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    /*background-color: var(--green);*/
}

.health-tab[active=false]:hover {
    /*-webkit-filter: unset; !* Safari 6.0 - 9.0 *!*/
    /*filter: unset;*/
    background-color: var(--light-gray);
}

.childf_branch-items {
    padding: 10px 20px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 80% auto;
}

@media (min-width: 768px) {

    .childf_branch-items {
        background-size: 60% auto;
    }
}

.health-items-bkg {
    background-image: url('../fonts/empty_tab.svg');
}

#empty-tab-message {
    position: absolute;
    top: 40px;
    right: calc(50% - 47px);

}

.health-item {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 2px solid;
    padding: 10px 5px;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
}

@media (min-width: 768px) {
    .health-item {
        width: calc(33.33% - 20px);
        margin: 10px 10px;
    }
}

.health-item:hover{
    box-shadow: 0 2px 8px rgba(43, 43, 43, 0.5);
}

.pharmacy {
    border-color: var(--purple);
}

.hospital {
    border-color: var(--green);
}

.office {
    border-color: var(--orange);
}

.hospital-l, .office-l, .pharmacy-l {
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    margin: 10px auto;
}

.hospital-l {
    background-image: url("../fonts/ic_hc_hospitals_l24px.svg");
}

.pharmacy-l {
    background-image: url("../fonts/ic_hc_pharmecies_l24px.svg");
}

.office-l {
    background-image: url("../fonts/ic_hc_offices_l24px.svg");
}

#progress-con {
    position: absolute;
    height: 3px;
    top: 0;
    left: 0;
    width: 100%;
}