body, html {
    background-color: var(--darmaneh-white);
}

@media (min-width: 1050px) {
    body, html {
        background-color: var(--light-gray);
    }
}

#health-total {
    padding-top: 50px;
    min-height: calc(100vh - 10px);
}

#options {
    display: none;
    z-index: 17;
    position: fixed;
    background-color: var(--darmaneh-white);
    border: 1px solid rgba(43, 43, 43, 0.2);
    border-radius: 2px;
    padding: 0 20px 20px 0;
    width: 256px;
    right: calc(50vw - 128px);
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    #options {
        display: none;
        top: unset;
        transform: unset;
        bottom: 90px;
        right: 20px;
    }
}

@media (min-width: 1050px) {
    #options {
        display: block !important;
        bottom: unset;
        top: 120px;
        right: calc(50vw - 517px);
    }
}

#options .subtitle {
    margin: 20px 0 10px 0;
}

#main-options .input-box {
    --ml: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.filter-item {
    border-bottom: 1px solid rgba(43, 43, 43, 0.2);
    padding: 10px 10px 10px 20px;

}

.filter-item .body-text {
    margin-right: 30px;
}

.filter-icon {
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
}

.filter-icon[disable=true] {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.icon-hospital {
    background-image: url("../fonts/ic_hc_hospitals_24px.svg");
}

.icon-pharmacy {
    background-image: url("../fonts/ic_hc_pharmecies_24px.svg");
}

.icon-office {
    background-image: url("../fonts/ic_hc_offices_24px.svg");
}

.filter-item .toggle {
    position: absolute !important;
    left: 20px;
    margin-top: 3px;
    height: 18px !important;
    width: 30px !important;
    min-width: 1px !important;
    min-height: 1px !important;
    border-radius: 9px !important;
}

.filter-item .toggle-handle {
    border-radius: 9px !important;
}

.filter-item .toggle-on {
    background-color: var(--darmaneh-blue) !important;
}

#near-me {
    border-radius: 18px;
    margin-top: 60px;
    --ml: 40px;
    --mr: 20px;
}

#health-main {
    padding: 20px;
    background-color: var(--darmaneh-white);
    margin-bottom: 50px;
}

@media (min-width: 1050px) {
    #health-main {
        --mr: 30px;
        border: 1px solid rgba(43, 43, 43, 0.2);
        border-radius: 2px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
}

#health-header {
    border-bottom: 1px solid rgba(43, 43, 43, 0.2);
    margin-bottom: 15px;
    padding: 20px 0 10px 0;
}

#health-items {
}

.health-item {
    text-align: center;
    width: 100%;
    border-radius: 5px;
    border: 2px solid;
    padding: 10px 5px;
    margin: 10px 0;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
}

@media (min-width: 768px) {
    .health-item {
        width: calc(33.33% - 20px);
        margin: 10px 10px;
    }
}

.pharmacy {
    border-color: var(--purple);
}

.hosptial {
    border-color: var(--green);
}

.office {
    border-color: var(--orange);
}

.hospital-l, .office-l, .pharmacy-l {
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    margin: 10px auto;
}

.hospital-l {
    background-image: url("../fonts/ic_hc_hospitals_l24px.svg");
}

.pharmacy-l {
    background-image: url("../fonts/ic_hc_pharmecies_l24px.svg");
}

.office-l {
    background-image: url("../fonts/ic_hc_offices_l24px.svg");
}

#health-detail {

}

#health-detail .subtitle {
    color: var(--darmaneh-blue);
    margin: 20px 0 10px 0;
}

#health-detail .hf-text {
    margin-bottom: 5px;
}

#health-detail .body-text {
    margin-bottom: 20px;
    font-weight: var(--medium);
}

#health-copy {
    --ml: 20px;
}

#options-btn {
    z-index: 20;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--darmaneh-blue);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../fonts/ic_share_24px.svg");
    background-size: 25px auto;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}

#health-share {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-right: calc(50% - 35px);
    background-color: var(--darmaneh-blue);
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../fonts/ic_share_24px.svg");
    background-size: 18px auto;

}

.move-health-share {
    margin-right: calc(100% - 70px) !important;
}

.option-rotate {
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg); /* Standard syntax */
    background-image: url("../fonts/ic_close_white_24px.svg") !important;
}

#share-btns {
    overflow: hidden;
    height: 0;
    z-index: 35;
    position: fixed;
    display: block;
    right: 20px;
    bottom: 70px;
}

.show-share-btns {
    height: 250px !important;
}

@media (min-width: 1050px) {
    .show-share-btns {
        height: 50px !important;
    }
}

.share-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    border-radius: 50%;
    margin: 10px;
}

@media (min-width: 1050px) {

    #share-btns {
        display: flex;
        flex-wrap: wrap;
        width: 190px;
        right: calc(50vw - 517px);
        top: 243px;
        bottom: unset;
    }

    .share-icon {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 20px auto;
        border-radius: 50%;
        margin: 5px;
    }

}

.share-icon:hover {
    box-shadow: 0 4px 6px rgba(43, 43, 43, 0.2);
}

.facebook-share {
    background-image: url("../fonts/ic_share_facebook_20px.svg");
}

.telegram-share {
    background-image: url("../fonts/ic_share_telegram_20px.svg");
}

.twitter-share {
    background-image: url("../fonts/ic_share_twitter_20px.svg");
}

.email-share {
    background-image: url("../fonts/ic_share_email_20px.svg");
}

.googleplus-share {
    background-image: url("../fonts/ic_share_googleplus_20px.svg");
}

.linkedin-share {
    background-image: url("../fonts/ic_share_linkedin_20px.svg");
}

#map {
    height: 180px;
}