@import url(fontiran.css);
* {
  font-family: IRANSans !important;
  font-weight: 300; }

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: url("../images/bg.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  body .header, html .header {
    font-family: IRANSansWeb;
    font-size: 50px;
    color: white;
    float: right;
    text-align: center;
    margin-top: 11%;
    margin-right: 12%;
    display: block; }
    body .header .logo, html .header .logo {
      width: 60px;
      height: 70px;
      align-content: center; }
  body .infoForm, html .infoForm {
    margin-top: 1%;
    margin-left: 63%;
    direction: rtl;
    font-family: IRANSansWeb; }
    body .infoForm .infoInput, html .infoForm .infoInput {
      margin-top: 3%;
      height: 55px;
      border-radius: 10px;
      background-color: inherit;
      color: white;
      font-size: 20px;
      border: #93B6C7 solid 2px;
      padding-right: 6rem; }
    body .infoForm .loginButton, html .infoForm .loginButton {
      margin-top: 2%;
      font-size: 30px;
      background-color: #02A8F3;
      border-radius: 10px;
      border: none;
      color: white;
      height: 55px;
      text-align: center; }
    body .infoForm .rememberMe, html .infoForm .rememberMe {
      margin-top: 5%;
      font-family: IRANSansWeb;
      font-size: 1.5rem;
      color: white;
      direction: rtl;
      margin-right: 1%;
      display: inline-block; }
    body .infoForm .notRegistered, html .infoForm .notRegistered {
      margin-top: 5%;
      font-size: 2rem;
      background-color: #FC6F6F;
      border-radius: 15px;
      border: none;
      color: white;
      height: 55px;
      text-align: center; }
    body .infoForm .checkBox, html .infoForm .checkBox {
      margin-top: 5%;
      display: inline-block; }
  body #name, html #name {
    background-image: url("../images/user_50.png");
    background-position: 98% 50%;
    background-repeat: no-repeat; }
  body #pass, html #pass {
    background-image: url("../images/pass_50.png");
    background-position: 98% 50%;
    background-repeat: no-repeat; }
  body .loginButton:hover, html .loginButton:hover {
    background-color: #009BE3; }
  body .notRegistered:hover, html .notRegistered:hover {
    background-color: #EB5757; }
  body .error, html .error {
    margin-top: 4%;
    color: #FC6F6F;
    font-size: 1.4vw;
    text-align: center; }
  body .notVerified, html .notVerified {
    margin-top: 4%;
    color: white;
    font-size: 1.2vw;
    text-align: center; }
  body .forgetPass, html .forgetPass {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 5%;
    display: block; }
  body input::-webkit-input-placeholder, html input::-webkit-input-placeholder {
    color: #93B6C7 !important; }
  body input:-moz-placeholder, html input:-moz-placeholder {
    /* Firefox 18- */
    color: #93B6C7 !important; }
  body input::-moz-placeholder, html input::-moz-placeholder {
    /* Firefox 19+ */
    color: #93B6C7 !important; }
  body input:-ms-input-placeholder, html input:-ms-input-placeholder {
    color: #93B6C7 !important; }
  body #verifyButton, html #verifyButton {
    display: inline-block; }
  body .loader, html .loader {
    border: 8px solid #f3f3f3;
    /* Light grey */
    border-top: 8px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    margin-left: auto;
    margin-right: auto;
    animation: spin 2s linear infinite; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=login.css.map */
