body, html {
    padding: 0;
    margin: 0;
}

body .padding10R, html .padding10R {
    padding-right: 10px;
}

body .marginRight15, html .marginRight15 {
    margin: auto 15px auto auto;
}

body .medicalVideoModal, html .medicalVideoModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 300;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

body #virtualVisitMob, html #virtualVisitMob {
    margin-top: 55px;
}

body .medicalVideoDisplay, html .medicalVideoDisplay {
    width: 100%;
    background-color: var(--darmaneh-black);
}

body .videoContainer, html .videoContainer {
    min-height: 50vh;
}

body #medicalVideoModal, html #medicalVideoModal {
    overflow: hidden;
}

body .scrollDown, html .scrollDown {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    background-image: url("../images/scroll01.gif");
    background-size: auto 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

body .navBar, html .navBar {
    box-shadow: 0 3px 6px rgba(43,43,43,0.16);
    border-radius: 0 !important;
    width: 100%;
    height: 50px;
    background-color: var(--darmaneh-white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-top: var(--darmaneh-blue) solid 5px;

}

body .childFLogo, html .childFLogo {
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    margin-top: 7px;
    background-position: right;
    /*position: absolute;*/
}

body .signInButton, html .signInButton {
    padding: 0 20px 0 35px;
    height: 30px;
    background-color: var(--darmaneh-blue);
    margin: 7px auto auto 0;
    color: white;
    border-radius: 40px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url("../images/ic_user_1.png");
    background-repeat: no-repeat;
    background-position: 1% 50%;
    /*position: absolute;*/
    /*left: 0;*/

}

body .searchBar, html .searchBar {
    height: 30px;
    background-color: var(--light-gray);
    border: var(--gray) solid 1px;
    text-align: right;
    padding-right: 30px;
    border-radius: 2px;
    background-image: url("../images/ic_search_disable_1.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 160px;
    margin-top: 7px;
}



body #virtualVisit, html #virtualVisit {
    margin-right: 40px;
}

body .navBarItems:hover, html .navBarItems:hover {
    color: var(--darmaneh-blue);
}

body .searchBar:focus, html .searchBar:focus {
    border: var(--darmaneh-blue) solid 1px;
    color: var(--darmaneh-blue);
    background-image: url("../images/ic_search_enable_2.png");
}

body .signInButton:hover, html .signInButton:hover {
    background-color: var(--blue-hover);
}


body .virtualVisitSection, html .virtualVisitSection {
    width: 100%;
    max-height: 100vh;
    height: 630px;
    background-image: url("../images/bg_symptomchecker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body .virtualVisitTitle, html .virtualVisitTitle {
    margin-top: 185px;
}

body .virtualVisitInfo, html .virtualVisitInfo {
    margin-top: 10px;
    display: block;
}

body .scButton, html .scButton {
    cursor: pointer;
    overflow: hidden;
    padding: 8px;
    display: block;
    color: var(--darmaneh-white);
    text-align: center;
    height: 44px;
    min-width: 20px;
    background-color: var(--darmaneh-blue);
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
    margin-top: 30px;
}

body .scButton:active, html .scButton:active {
    background-color: var(--blue-hover);
    box-shadow: 0 8px 8px rgba(43, 43, 43, 0.24);
}

body .scButton[disable=true], html .scButton[disable=true] {
    background-color: var(--gray);
    color: var(--darmaneh-black);
    box-shadow: none;
    opacity: 0.5;
}

body .medicalInfoSection, html .medicalInfoSection {
    width: 100%;
    min-height: 600px;
}

body .medicalInfoSectionTitle, html .medicalInfoSectionTitle {
    text-align: center;
    margin-top: 90px;
}

body .medicalInfoSearch, html .medicalInfoSearch {
    height: 40px;
    text-align: right;
    padding-right: 40px;
    background-color: var(--light-gray);
    outline: none;
    border: var(--gray) solid 1px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    background-image: url("../images/ic_search_disable_2.png");
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

body .medicalInfoSearch:focus, html .medicalInfoSearch:focus {
    border: var(--blue-hover) solid 1px;
    background-image: url("../images/ic_search_enable_1.png");
}

body .medicalInfoLine, html .medicalInfoLine {
    height: 1px;
    background-color: var(--gray);
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

body .mostViewedVideos, html .mostViewedVideos {
    min-height: 170px;
    margin-top: 15px;
}

body .previousVideo, html .previousVideo {
    background-image: url("../images/ic_left_arrow.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

body .nextVideo, html .nextVideo {
    background-image: url("../images/ic_right_arrow.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

body .video, html .video {
    min-height: 100px;
    background-color: var(--light-gray);
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: center center;
    cursor: pointer;
}

body .videoInfoTitle, html .videoInfoTitle {
    padding-right: 10px;
}

body .videoInfo, html .videoInfo {
    min-height: 100px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;
    direction: rtl;
    padding-top: 5px;
    margin: 5px 0 55px auto;
}

body .videoMore, html .videoMore {
    position: absolute;
    bottom: 0;
    margin: 15px 15px 0 auto;
    cursor: pointer;
    overflow: hidden;
    padding: 8px;
    color: var(--darmaneh-white);
    text-align: center;
    height: 44px;
    min-width: 20px;
    background-color: var(--darmaneh-blue);
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
}

body .videoMore:active, html .videoMore:active {
    background-color: var(--blue-hover);
    box-shadow: 0 8px 8px rgba(43, 43, 43, 0.24);
}

body .videoMore[disable=true], html .videoMore[disable=true] {
    background-color: var(--gray);
    color: var(--darmaneh-black);
    box-shadow: none;
    opacity: 0.5;
}

body .videoPages, html .videoPages {
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: darkgray;
}

body .healthCenterSection, html .healthCenterSection {
    width: 100%;
    background-image: url("../images/bg_location.png");
    height: 567px;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 20px;
}

body .map, html .map {
    margin-top: 100px;
    background-image: url("../images/street_map.png");
    height: 300px;
    background-repeat: no-repeat;
    background-position: right;
}

body .healthCenterInfo, html .healthCenterInfo {
    margin-top: 15px;
    text-align: right;
}

body .healthCenterContent, html .healthCenterContent {
    margin-top: 100px;
}

body .selectTown, html .selectTown {
    background-color: var(--light-gray);
    border: var(--gray) solid 1px;
    height: 44px;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    padding-left: 30px;
}

body #prov, html #prov {
    margin: 0 0 0 10px;
}

body #city, html #city {
    margin: 0 10px 0 0;
}

body select:focus, html select:focus {
    outline: none;
}

body .findHealthCenterButton, html .findHealthCenterButton {
    height: 44px;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    padding: 8px;
    color: var(--darmaneh-white);
    text-align: center;
    min-width: 20px;
    background-color: var(--darmaneh-blue);
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.24);
}

body .findHealthCenterButton:active, html .findHealthCenterButton:active {
    background-color: var(--blue-hover);
    box-shadow: 0 8px 8px rgba(43, 43, 43, 0.24);
}

body .findHealthCenterButton[disable=true], html .findHealthCenterButton[disable=true] {
    background-color: var(--gray);
    color: var(--darmaneh-black);
    box-shadow: none;
    opacity: 0.5;
}

body .margin5, html .margin5 {
    margin-right: 5%;
}

body .nearMeButton, html .nearMeButton {
    height: 44px;
    background-color: var(--red);
    margin-top: 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    text-align: center;
}

body .nearMeButton:active, html .nearMeButton:active {
    background-color: var(--red-hover);
}

body .nearMeInfo, html .nearMeInfo {
    margin-top: 25px;
    margin-right: 15px;
    text-align: right;
}

@media (max-width: 1368px) {
    body .scrollDown, html .scrollDown {
        display: block;
        margin-top: 15%;
    }
}

@media (max-width: 991px) {
    body .searchBar, html .searchBar {
        display: none;
    }

    body #navBarItems, html #navBarItems {
        width: 650px;
    }
}

@media (max-width: 768px) {
    body .virtualVisitTitle, html .virtualVisitTitle {
        text-align: center;
    }

    body .virtualVisitInfo, html .virtualVisitInfo {
        text-align: center;
    }

    body .medicalInfoSectionTitle, html .medicalInfoSectionTitle {
        margin-top: 10px;
    }

    body .scButton, html .scButton {
        margin-left: auto;
        margin-right: auto;
    }

    body #secVideo, html #secVideo {
        display: none;
    }

    body .video, html .video {
        height: 200px;
    }

    body .videoMore, html .videoMore {
        margin: 0 0 10px 0;
        right: 22%;
    }

    body .videoInfoTitle, html .videoInfoTitle {
        text-align: center;
        margin-top: 15px;
    }

    body .videoInfo, html .videoInfo {
        text-align: center;
        margin-top: 15px;
    }

    body .mostViewedVideos, html .mostViewedVideos {
        margin-top: 20px;
    }

    body .healthCenterTitle, html .healthCenterTitle {
        text-align: center;
    }

    body .map, html .map {
        background-image: url("../images/location_map_small.png");
        background-size: auto;
        background-position: 50% 0;
        height: 150px;
        margin-top: 50px;
    }

    body .healthCenterContent, html .healthCenterContent {
        margin-top: 30px;
    }

    body .healthCenterInfo, html .healthCenterInfo {
        text-align: center;
    }

    body .margin5, html .margin5 {
        margin-right: 0;
    }

    body .findHealthCenterButton, html .findHealthCenterButton {
        margin-right: 0;
        margin-top: 15px;
    }

    body .scrollDown, html .scrollDown {
        display: block;
        margin-top: 25%;
    }

    body .navBarItemsHidden, html .navBarItemsHidden {
        display: none;
    }

    body .searchBar, html .searchBar {
        display: none;
    }

    body .childFLogo, html .childFLogo {
        margin: 7px auto auto auto;

    }

    body .navBarMobileButton, html .navBarMobileButton {
        width: 45px;
        height: 45px;
        background-color: transparent;
        background-image: url("../images/menu_1.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        cursor: pointer;
        margin: auto 0 auto auto;
    }

    body .medicalVideoDisplay, html .medicalVideoDisplay {
        min-height: 400px;
        display: none;
    }

    body .virtualVisitSection, html .virtualVisitSection {
        background-image: url("../images/bgMobile.jpg");
    }

    body .paddingTop10, html .paddingTop10 {
        padding-top: 10px;
    }
}

@media (max-width: 319px) {
    body .signInButton, html .signInButton {
        display: none;
    }
}

/*# sourceMappingURL=darmanehTest.css.map*/

#firstVideoPlay{
    background-image: url("../images/reg_guide.png");
}

#secondVideoPlay{
      background-image: url("../images/mrn.jpg");
}

.play-video{
    object-fit: contain;
    width: 70px;
    height: auto;
}


/*@media (max-width: 600px){*/

    /*#sign-btn{*/
        /*display: none;*/
    /*}*/
/*}*/