/*banner styles*/

#banner {
    margin-top: 50px;
    height: 450px;
    background-image: url('../images/banner.jpg');
    background-repeat: repeat-x;
    background-position: center center;
    background-size: auto 100%;

}

#banner-content {
    text-align: center;
    padding: 10px
}

#banner .title1, #banner .body-text {
    color: var(--darmaneh-white);
    margin-top: 10px;
}

#banner-btn {
    cursor: pointer;
    margin: 30px auto;
    color: var(--darmaneh-white);
    border: solid 1px var(--darmaneh-white);
    border-radius: 5px;
    padding: 10px;
    height: 44px;

}

#banner-core-m{
    background-image: url('../images/banner-core.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 70%;
    height: 100px;
}

@media (min-width: 768px) {
    #banner {
        height: 300px;
        background-size: 100% auto;

    }

    #banner-content {
        text-align: right;
        padding: 40px;
    }

    #banner-btn {
        margin: 30px 0 0 0;
    }

    #banner-core {
        height: 300px;
    }

    #banner-core {
        background-image: url('../images/banner-core.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 70%;
        height: 300px;
    }
    #banner-core-m{
        display: none;
    }
}

/*-----------------*/

/*comming soon section*/
#comming-section {
    padding: 10px 0;

}

@media (min-width: 768px) {
    #comming-section {
        padding: 70px 0;
        height: 440px;
        background-position: left;
        background-image: url("../images/collaborate.jpg");
        background-size: 50% auto;
        background-repeat: no-repeat;

    }
}

#comming-section .body-text {
    margin: 0 10px 20px 10px;
}

/*------------------------*/

/*mission section*/

#missions-section {
    background-repeat: repeat;
    background-position: center;
    background-size: 120px auto;
    background-image: url("../images/bg_missions.png");
    padding: 70px 0;
    min-height: 470px;
}

#missions-section .body-text {
    margin: 0 20px;
}

.mission-icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    margin-bottom: 15px
}

/*-------------------------------*/

/*download app section*/
#download-section {
    padding: 10px 0;
}

@media (min-width: 768px) {
    #download-section {
        padding: 70px 0;
        height: 500px;
    }
}

.download-text {
    height: 260px;
}

@media (min-width: 768px) {
    .download-text {
        padding-left: 60px;
        border-left: solid;
        border-width: 1px;
        border-color: var(--gray);

    }

}

.download-icons {

    height: 300px;
}

.download-icon {
    display: block;
    margin: 10px auto;
    cursor: pointer;
    width: 149px;
    height: auto;
}

.download-phones {
    overflow: hidden;
    width: 100%;
    margin: 0;
    height: 100%;
    object-fit: contain;
    max-height: 300px;

}

/*disease search ui*/
.ui-menu {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
    max-height: 200px;
}

/*---------------------------*/