@import url(fontiran.css);
* {
  font-family: IRANSans !important;
  font-weight: 300; }

body, html {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat; }
  body .header, html .header {
    font-family: IRANSansWeb;
    font-size: 50px;
    color: white;
    float: right;
    text-align: center;
    margin-top: 3%;
    margin-right: 10%;
    display: block; }
    body .header .logo, html .header .logo {
      width: 60px;
      height: 70px;
      align-content: center; }
  body .infoForm, html .infoForm {
    margin-left: 65%;
    direction: rtl;
    font-family: IRANSansWeb; }
    body .infoForm .infoInput, html .infoForm .infoInput {
      margin-top: 3%;
      height: 55px;
      border-radius: 10px;
      background-color: inherit;
      color: white;
      font-size: 1.1vw;
      border: #93B6C7 solid 2px;
      padding-right: 6rem; }
    body .infoForm #name, body .infoForm #lname, html .infoForm #name, html .infoForm #lname {
      background-image: url("../images/user_50.png");
      background-repeat: no-repeat;
      background-position: 98% 50%; }
    body .infoForm #profession, html .infoForm #profession {
      background-image: url("../images/expertise_50.png");
      background-repeat: no-repeat;
      background-position: 98% 50%; }
    body .infoForm #profId, html .infoForm #profId {
      background-image: url("../images/id_50.png");
      background-repeat: no-repeat;
      background-position: 98% 50%; }
    body .infoForm #phone, html .infoForm #phone {
      background-image: url("../images/phone_50.png");
      background-repeat: no-repeat;
      background-position: 98% 50%; }
    body .infoForm #mail, html .infoForm #mail {
      background-image: url("../images/email_50.png");
      background-repeat: no-repeat;
      background-position: 98% 50%; }
    body .infoForm #pass, html .infoForm #pass {
      border-radius: 0 10px 10px 0;
      float: right;
      background-image: url("../images/pass_50.png");
      background-repeat: no-repeat;
      background-position: 98% 50%; }
    body .infoForm .eye, html .infoForm .eye {
      margin-top: 3%;
      height: 55px;
      border-radius: 10px 0 0 10px;
      border: #93B6C7 solid 2px;
      background-color: #93B6C7; }
    body .infoForm .registerButton, html .infoForm .registerButton {
      margin-top: 3%;
      font-size: 1.5vw;
      background-color: #02A8F3;
      border-radius: 10px;
      border: none;
      color: white;
      height: 55px;
      text-align: center; }
    body .infoForm .loginButton, html .infoForm .loginButton {
      margin-top: 5%;
      font-size: 0.9vw;
      background-color: #FC6F6F;
      border-radius: 15px;
      border: none;
      color: white;
      height: 55px;
      text-align: center; }
  body .registerButton:hover, html .registerButton:hover {
    background-color: #009BE3; }
  body .loginButton:hover, html .loginButton:hover {
    background-color: #EB5757; }
  body #eye, html #eye {
    background-image: url("../images/eye.png");
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  body .error, html .error {
    margin-top: 4%;
    color: #FC6F6F;
    font-size: 1.4vw;
    text-align: center; }
  body .callMe, html .callMe {
    background-color: #24B337; }
  body #verifyText, html #verifyText {
    margin-top: 3%;
    color: white;
    font-size: 0.9vw;
    font-family: IRANSansWeb; }
  body #voiceVerifyingText, html #voiceVerifyingText {
    margin-top: 3%;
    color: white;
    font-size: 0.9vw;
    font-family: IRANSansWeb; }
  body #calling, html #calling {
    font-family: IRANSansWeb;
    color: white;
    margin-top: 3%;
    font-size: 1.1vw;
    text-align: center; }
  body #callingError, html #callingError {
    font-family: IRANSansWeb;
    color: #FC6F6F;
    margin-top: 3%;
    font-size: 1.1vw;
    text-align: center; }
  body .success, html .success {
    color: white;
    font-family: IRANSansWeb;
    font-size: 1.2vw;
    text-align: center;
    margin-top: 4%; }
  body input::-webkit-input-placeholder, html input::-webkit-input-placeholder {
    color: #93B6C7 !important; }
  body input:-moz-placeholder, html input:-moz-placeholder {
    /* Firefox 18- */
    color: #93B6C7 !important; }
  body input::-moz-placeholder, html input::-moz-placeholder {
    /* Firefox 19+ */
    color: #93B6C7 !important; }
  body input:-ms-input-placeholder, html input:-ms-input-placeholder {
    color: #93B6C7 !important; }
  body #professionCategory, html #professionCategory {
    padding: 0;
    float: right;
    font-family: IRANSansWeb;
    border-radius: 10px 10px 10px 10px; }
  body .addCategory, html .addCategory {
    width: 40px;
    height: 40px;
    margin-top: 4%;
    border-radius: 50%;
    background-color: #93B6C7;
    border: none;
    background-image: url("../images/add.png");
    background-repeat: no-repeat;
    background-position: 50% 50%; }
  body .categoryList, html .categoryList {
    font-family: IRANSansWeb;
    font-size: 0.8vw;
    color: whitesmoke;
    margin-top: 2%;
    text-align: right; }
  body .listPopUp, html .listPopUp {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    margin: auto;
    margin-top: 0; }
  body .list, html .list {
    width: 36vw;
    height: 65vh;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    border-radius: 10px;
    overflow: auto;
    background-image: url("../images/logo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 4%;
    position: relative; }
  body .addedCategories, html .addedCategories {
    width: 33vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    overflow: auto; }
  body .addedCategoriesText, html .addedCategoriesText {
    margin-top: 2%;
    height: 55px;
    border-radius: 10px;
    background-color: lightgrey;
    font-family: IRANSansWeb;
    font-size: 1vw;
    color: black;
    text-align: right;
    line-height: 6rem;
    float: right;
    padding-right: 1rem; }
  body .exit, html .exit {
    float: left;
    color: red;
    margin-right: 3%;
    background-color: inherit;
    border: none;
    height: 40px; }
  body .submitChanges, html .submitChanges {
    height: 5vh;
    width: 6vw;
    font-family: IRANSansWeb;
    font-size: 1.2vw;
    border-radius: 10px;
    text-align: center;
    margin-left: 15vw;
    margin-top: 2%;
    color: white;
    border: none;
    background-color: #00B0E8; }

/*# sourceMappingURL=sign_up.css.map */
