
body , html{
    overflow-x: hidden;
}

#tos-total{
    direction: rtl;
    /*height: calc( 100vh - 70px);*!*/
    width: 100vw;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    margin:50px 0 0 0;
    padding: 0;
    background: var(--darmaneh-white);
}

#tos-text{
    text-align: justify;
    width: 75%;
    padding: 20px;
    min-height: calc(100% - 200px - 70px);
    overflow: hidden;
    margin: 0 auto;
}

#tos-text h1{
    font-size: 17px;
    margin: 20px 0px 10px 0px;
}

#tos-text h2{
    font-size: 15px;
}

#tos-text p{
    font-size: 13px;
    line-height: 150%;
}

@media (min-width: 600px) {
    #tos-text{
        padding:10px 10% 20px 10%;
    }

}